node_modules/

build/
.cache/
dist/
.expo/
.expo-shared/

\*.log

.env
.env.\*

.vscode/
.idea/
.DS_Store

coverage/
jest/
_.test.js
_.spec.js

**/.git
**/.github
**/.expo
**/eas.json
\*\*/.expo-shared
